*{
    margin: 0;
    padding: 0;
   
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{

    background-color: #8A2B1D;
    color: white;
    padding: 10px;
}

nav > ul{
    display: flex;
    list-style: none;
    column-gap: 40px;
    justify-content: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover{
    color: orange
}

header .fa-bars{
    font-size: 2rem;
    display: none;
}

/* banner */

.banner{
    /* background-image: url('../img/slider.jpeg'); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.697), rgba(0, 0, 0, 0.618)), url('../img/slider.jpeg');;
    height:700px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.banner section{
  width: 60%;
  color: white;
  text-align: center;
  
}

.banner h1{
    font-size: 3.5rem;
}

.banner p{
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 0 100px;
    
}


.banner button{
    background-color: orange;
    color: black;
    padding: 20px 50px;
    font-size: 1.5rem;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}


.banner button:hover{
    background-color: #8A2B1D;
    color: white;
    
}


/* about */

.about{
    display: flex;
    padding: 5% 10%;
    column-gap: 30px;
    align-items: center;
}

.about section{
    flex: 1;
}

.about p{
    font-size: 1.3rem;
}

.about h3{
    font-size: 2rem;

}


.about aside{
    display: flex;
    column-gap: 30px;
    margin-top: 30px;
}

.about aside{
    display: flex;
    column-gap: 30px;
    margin-top: 30px;
}

.about h4{
    font-size: 1.5rem;
   
}

.about article{
    border-left: 20px #8A2B1D solid ;
    padding-left: 30px;
    margin-top: 30px;
}

.about article p{
    margin-bottom: 10px;
}

.about hr{
    margin: 10px 0;
    height: 5px;
    width: 50px;
    border-radius: 10px;
    background-color: #8A2B1D;
}


/* services */
.services{
    padding: 5% 10%;
    background-color: #4b539121

}


.services section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    row-gap: 30px;

}

.services h4{
    margin: 10px 0;
}
.services img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.services h3{
    text-align: center;
    font-size: 2rem;
}

.services > hr{
    margin: 20px auto 40px auto;
    height: 3px;
    width: 50px;
    border-radius: 10px;
    background-color: #8A2B1D;
}



.services section hr{
    margin: 10px 0;
    height: 1px;
    width: 50px;
    border-radius: 10px;
    background-color: #8A2B1D;
}


/* products */

.product{
    padding: 5% 10%;
    background-color: #8A2B1D;


}


.product .items{
    display: flex;
    column-gap: 5%;


}



.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }


/* client */

.client{
    padding: 5%;

}
.client img{
    height: 100px;
    filter: grayscale(100%);

}
.client h3{
    font-size: 2rem;
    text-align: center;
}

.client p{
    font-size: 1.3rem;
    text-align: center;
}

.grid-container{
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 width: 80%;
 margin: auto;
 
}


/* contact-us */
.contact{

    display: flex;
    column-gap: 5%;
    padding: 5% 10%;

}

.contact hr{
    margin: 10px 0;
    height: 5px;
    width: 50px;
    border-radius: 10px;
    background-color: #8A2B1D;

}

.form{
    flex: 8;
}

.contact-details{
    flex: 4;
}

.form div{
    margin-bottom: 20px;
}

#col-2{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

#col-2 aside{
    flex:1
}

input[type="text"], input[type="email"], select{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(172, 168, 168);
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

select{
    height: 42px;
}


textarea{
    width: 100%;
    border: 1px solid rgb(172, 168, 168);
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
}

.form label{
    font-weight: 500;
    
}

input[type="submit"]{
    background-color: #8A2B1D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}


input[type="submit"]:hover{
    background-color: orange;
    color: rgb(0, 0, 0);
  
}


/* Footer */

footer{
    background-color: black;
    color: white;
    padding-top: 5%;
}


footer .columns{
    display: flex;
    margin: 0 auto;
    width: 80%;
    column-gap: 5%;
    padding-bottom: 20px;
}

footer h4{
    border-top: solid 1px orange ;
    border-bottom: solid 1px orange ;
    padding: 5px 0;
    margin-bottom: 10px;
}

footer .copyright{
    background-color: #8A2B1D;
    padding: 10px;
}

footer a{
    color: white;
}

footer a:hover{
    color: orange;
}

footer aside{
    flex: 1;
}




/*  */
@media (max-width: 992px) {
  
}


@media (max-width: 768px) {
    nav{
        display: none;
    }

    header .fa-bars{
        display: block;
    }
    .banner{
        background-position: ;
    }

    .banner section{
        width: 80%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.712);
        
      }

      footer .columns{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        
    }
    
}

